{% extends "maposmatic/base.html" %}

{% block page %}

<p><b>Job list</b></p>

<table class="list">
{% for job in jobs %}
  <tr class="{% cycle odd,even %}">
    <td>
      <a href="/jobs/{{ job.id }}">{{ job.maptitle }}</a><br/>
    </td>
    <td>
      {% ifequal job.status 0 %}
      Waiting rendering
      {% endifequal %}
      {% ifequal job.status 1 %}
      Rendering in progress...
      {% endifequal %}
      {% ifequal job.status 2 %}
      Rendering done or failed
      {% endifequal %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
