<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
 <title>MapOSMatic</title>
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <meta http-equiv="Content-Language" content="fr-fr" />
 <link rel="stylesheet" type="text/css" href="/smedia/style.css" media="screen" />
 {% block extrahead %}{% endblock %}
</head>

<body>
<div id="header">
<h1>MapOSMatic</h1>
 <div id="menu">
  <ul id="nav">
   <li><a href="#">Accueil</a></li>
   <li><a href="#">Cartes</a></li>
   <li><a href="#">À propos</a></li>
  </ul>
 </div>
</div>
<div id="content">
<div id="right">
{% block page %}{% endblock %}
</div>

<div id="left">
<div class="box">
  <h2>Liens :</h2>
  <ul>
    <li><a href="http://www.openstreetmap.org">OpenStreetMap</a></li>
  </ul>
</div>

<div class="box">
<div style="font-size: 0.8em;">Design par <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
</div>
</div>
</div>

</body>
</html>