{% extends "maposmatic/base.html" %}

{% block extrahead %}
<script language="JavaScript" type="text/javascript">
function generation_mode_switch(mode)
{
  if (mode == 'bbox-mode')
  {
    document.getElementById('admin-mode').style.display = 'none';
    document.getElementById('bbox-mode').style.display = '';
  }
  else if (mode == 'admin-mode')
  {
    document.getElementById('admin-mode').style.display = '';
    document.getElementById('bbox-mode').style.display = 'none';
  }
}
</script>
{% endblock %}

{% block page %}
<h1>MapOSMatic</h1>

<form method="post" action="">

<table>
  <tr>
    <td>Nom de la carte</td>
    <td>{{ form.maptitle }}</td>
  </tr>
  <tr>
    <td>Mode de génération</td>
    <td>
      <input type="radio" name="generation-mode" value="admin" checked="checked" onclick="generation_mode_switch('admin-mode');"/>Basé sur la limite administrative<br/>
      <input type="radio" name="generation-mode" value="bbox" onclick="generation_mode_switch('bbox-mode');"/>Basé sur une <i>bouding box</i>
    </td>
  </tr>
  <tr id="admin-mode">
    <td>Nom de la ville</td>
    <td>{{ form.administrative_city }}</td>
  </tr>
  <tr id="bbox-mode" style="display: none;">
    <td>Bounding box</td>
    <td style="text-align: center">
      <input type="text" id="id_lat_upper_left" style="width: 100px"/><br/>
      <input type="text" id="id_lon_upper_left"  style="width: 100px"/>
      <input type="text" id="id_lon_bottom_right"  style="width: 100px"/><br/>
      <input type="text" id="id_lat_bottom_right"  style="width: 100px"/>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Générer"/></td>
  </tr>
</table>

</form>

{% endblock %}