*~
*.mo
/ocitysmap.conf
/support/shoreline-update.sh
/stylesheet/maposmatic-printable/inc/datasource-settings.xml.inc
/stylesheet/maposmatic-printable/inc/fontset-settings.xml.inc
/stylesheet/maposmatic-printable/inc/settings.xml.inc
